# Virtual environment
venv/
../venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Django/Flask stuff
*.sqlite3
db.sqlite3
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# AWS Elastic Beanstalk
.elasticbeanstalk/
